.about {
   font-size: 1.5em;
   width: 90%;
   margin: 0 auto;
   margin-top: 3em;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
}

.offers{
   font-size: 1.5em;
   width: 90%;
   margin: 0 auto;
   margin-top: 3em;
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   .dot{
      width: 20px;
   }
}

.line {

   td {
      border-collapse: collapse;
      border-spacing: 0.5em;
      //padding: 0 1em;

      p {
         margin: 0;
      }
   }

   .dot {
      font-size: 2.5em;
      color: $color1;
      padding-right: 0;
      width: 1em;
   }

   .txt {
      padding-left: 0.5em;
   }

   .acc {
      color: $color1;
      font-size: 1.3em;
   }
}

@media only screen and (max-width: 800px) {
   .about{
      font-size: 1em;

   }
   .offers{
      font-size: 1em;
   }
}