.docs-page {
   margin: 0 5em;
   margin-top: 2em;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-gap: 1em;
   overflow: hidden;
   padding-bottom: 4em;

   .doc {
      width: 100%;
      color: $color2;
      text-decoration: none;
      text-align: center;
      padding: 3em 0;
      border: 0.23em solid transparent;
      box-sizing: border-box;

      i {
         display: block;
         width: 100%;
      }

      .title {
         display: block;
         width: 100%;
         font-size: 1.5em;
         font-weight: 500;
         padding: 0.5em 0;
      }

      &:hover {
         color: $color1;
         background-color: $color2;
         border: 0.23em solid $color1;
         border-radius: 1em;
      }
   }
}

@media only screen and (max-width: 800px) {
   .docs-page {
      grid-template-columns: 1fr 1fr;
   }
}