.events {
   margin: 0 5em;
   margin-top: 2em;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1em;
   overflow: hidden;
   padding-bottom: 4em;
}

@media only screen and (max-width: 800px) {
   .events {
      grid-template-columns: 1fr;
      margin: 0 2em;
   }
}

@import "events-post";