@keyframes fadin {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.etitle {
   background-color: rgba(0, 0, 0, 0.7);
   color: white;
   margin-top: 10em !important;
   border: 6px solid rgba(0, 0, 0, 0.0);
   -webkit-animation: fadin 1s ease-in-out;
   -o-animation: fadin 1s ease-in-out;
   animation: fadin 1s ease-in-out;

   p {

   }
}

.epost {
   position: relative;
   display: block;
   max-width: 60%;
   height: fit-content;
   margin: 5em auto 0 auto;
   background-color: white;
   border: 2px solid $color1;
   box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
   padding: 4em 2em 2em 2em;
   color: $color2;
   p {
      margin: 0;
   }
   .vid{
      position: absolute;
      background-color: $color2;
      width: 100%;
      text-align: center;
      top: 0;
      right: 0;
      a{
         display: block;
         text-decoration: none;
         font-size: 1.3em;
         color: white;
         font-weight: 300;
         margin: 10px;
      }
   }
   .desctxt {
      font-size: 1.1em;
   }

   .einfo {
      margin-top: 3em;
      font-size: 1.2em;
      font-family: "Roboto Condensed", sans-serif;
      line-height: 1.3em;
      .prtcp {
         margin: 0.4em 0;

         p span {
            font-weight: 600;
            border-bottom: 2px solid $color1;
         }
      }

      .place {
         margin: 0.4em 0;

         p span {
            font-weight: 600;
         }
      }

      .date {
         margin: 0.4em 0;

         p span {
            font-weight: 600;
         }
      }
   }
}


@media only screen and (max-width: 800px) {
   .etitle{
      margin-top: 10em !important;
   }
   .epost{
      margin-top: 10em;
      max-width: 80%;
   }
}