.project-post {
   .gallery{
      width: 80%;
      height: fit-content;
      margin: 0 auto;
      padding-bottom: 4px;
      .mainphoto{
         max-height: 90vh;
         overflow: hidden;
         img{
            width: 100%;
            object-fit: contain;

         }
      }
      .previews{
         display: flex;
         flex-wrap: wrap;
         max-width: 100%;
         justify-content: center;
         img{
            height: 3em;
            object-fit: cover;
            padding: 2px 2px 2px 2px;
            background-color: $color1;
         }
      }
   }
}


@media only screen and (max-width: 800px) {
   .project-post{
      .gallery{
         .mainphoto{

         }
         .previews{

         }
      }
   }
}