@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext");
@import url('https://fonts.googleapis.com/css?family=Overpass:300,400,600,700|Roboto+Condensed&subset=cyrillic,cyrillic-ext');


$color1: #ffc212;
$color2: #232323;
$color3: #e1e1e1;

body, html {
   color: #000;
   font-family: Roboto, sans-serif;
   overflow-x: hidden;
   margin: 0;
   padding:0;
}

a, button {
   cursor: pointer;
}

.page {
   min-height: 100vh;
   padding-bottom: 5em;
   overflow: auto;
}

.header {
   display: block;
   position: relative;
   height: 60px;
   width: fit-content;
   width: -moz-fit-content;
   margin-bottom: 1em;
   &.center {
      margin: 2em auto 1em auto;
   }

   p {
      margin: 0;
      line-height: 60px;
      font-size: 2.5em;
      font-weight: 300;
      text-align: left;
      padding: 0 1em;
   }

   &:after {
      position: relative;
      display: block;
      bottom: 0;
      content: "";
      width: 100%;
      left: -6px;
      top: -6px;
      border: 6px solid transparent;
      border-bottom: 6px solid $color1;
   }
}

@media only screen and (max-width: 800px) {
   .page {
      padding-top: 70px;
   }
}


@import "nav";

@import "slider";

@import "index-content";

@import "footer";

@import "blog";

@import "events";

@import "projects";

@import "docs";
