@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=cyrillic,cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Overpass:300,400,600,700|Roboto+Condensed&subset=cyrillic,cyrillic-ext");
body, html {
  color: #000;
  font-family: Roboto, sans-serif;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

a, button {
  cursor: pointer;
}

.page {
  min-height: 100vh;
  padding-bottom: 5em;
  overflow: auto;
}

.header {
  display: block;
  position: relative;
  height: 60px;
  width: fit-content;
  width: -moz-fit-content;
  margin-bottom: 1em;
}
.header.center {
  margin: 2em auto 1em auto;
}
.header p {
  margin: 0;
  line-height: 60px;
  font-size: 2.5em;
  font-weight: 300;
  text-align: left;
  padding: 0 1em;
}
.header:after {
  position: relative;
  display: block;
  bottom: 0;
  content: "";
  width: 100%;
  left: -6px;
  top: -6px;
  border: 6px solid transparent;
  border-bottom: 6px solid #ffc212;
}

@media only screen and (max-width: 800px) {
  .page {
    padding-top: 70px;
  }
}
nav {
  position: relative;
  z-index: 10;
  background-color: white;
  height: 90px;
  font-size: 0;
}
nav ul.language {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 6%;
  font-size: 13px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav ul.language li {
  height: fit-content;
  width: 3em;
  margin: 0 auto;
}
nav ul.language li input[type=submit] {
  border: 1px solid #232323;
  border-radius: 0;
  width: 2.5em;
  text-align: center;
  visibility: visible;
  color: #232323;
  font-weight: 300;
  font-size: 1.2em;
  font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
  -webkit-appearance: none;
  background-color: unset;
  vertical-align: middle;
  padding: 0.05em 0.4em;
  margin-top: 3px;
  cursor: pointer;
}
nav ul.language li input[type=submit]:after {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background-color: #ffc212;
}
nav ul.language li input[type=submit].active {
  display: none;
}
nav .logo {
  display: inline-block;
  position: relative;
  height: 81px;
  top: 5px;
  width: 20%;
  left: 5%;
  cursor: pointer;
  font-size: 13px;
}
nav ul.menu {
  display: flex;
  width: 60%;
  float: right;
  justify-content: space-evenly;
  height: 100%;
  margin-right: 2%;
  font-size: 13px;
  margin: 0;
  padding: 0;
}
nav ul.menu > li {
  display: inline-block;
  height: 100%;
  padding: 0 1.1em;
}
nav ul.menu > li > a {
  line-height: 90px;
  text-decoration: none;
  vertical-align: middle;
  color: black;
  font-size: 1.3em;
  font-weight: 300;
}
nav ul.menu > li > a .pointer {
  display: none;
}
nav ul.menu > li > a:hover {
  color: #ffc212;
}
nav ul.menu > li:after {
  display: block;
  content: "";
  height: 3px;
  width: 0;
  background-color: #ffc212;
  transition: width 0.3s ease-in-out;
  transform: translateY(-100%);
}
nav ul.menu > li:hover:after {
  width: 100%;
}
nav ul.menu > li:hover .submenu {
  display: flex;
}
nav ul.menu > li ul.submenu {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  justify-content: center;
  background-color: #e1e1e1;
  height: 35px;
  transition: height;
  transition-duration: 0.3s;
  padding: 0;
}
nav ul.menu > li ul.submenu li {
  display: inline-block;
  line-height: 35px;
  padding: 0 1em;
}
nav ul.menu > li ul.submenu li a {
  color: black;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 300;
}
nav ul.menu > li ul.submenu li a:hover {
  color: #ffc212;
}
nav .navdd {
  display: none;
}

@media only screen and (max-width: 800px) {
  nav {
    position: fixed;
    width: 100%;
    height: 70px;
    font-size: 13px;
  }
  nav ul.language {
    width: 4em;
  }
  nav ul.language li input[type=submit] {
    font-size: 1em;
    font-weight: 400;
    text-shadow: unset;
  }
  nav .logo {
    height: 60px;
    width: 200px;
    left: 3.5em;
  }
  nav > ul.menu {
    display: none;
    transform: translateY(-100%);
    position: relative;
    width: 100%;
    text-align: center;
    margin: 0;
    height: 70px;
  }
  nav > ul.menu > li {
    position: relative;
    height: 60px;
    display: block;
    width: 100%;
    padding: 0;
    background-color: white;
  }
  nav > ul.menu > li > a {
    line-height: 60px;
  }
  nav > ul.menu > li > a .pointer {
    display: inline-block;
    color: #232323;
  }
  nav > ul.menu > li:hover:after {
    width: 0;
  }
  nav > ul.menu > li:hover {
    height: fit-content;
  }
  nav > ul.menu > li:hover .submenu {
    display: block;
  }
  nav > ul.menu > li ul.submenu {
    position: relative;
    display: none;
    z-index: 10;
    background-color: #e1e1e1;
    box-shadow: inset 0px 4px 6px -4px rgba(0, 0, 0, 0.75);
    height: fit-content;
  }
  nav > ul.menu > li ul.submenu li {
    width: 100%;
    padding: 0;
    height: 60px;
  }
  nav > ul.menu > li ul.submenu li a {
    line-height: 60px;
    width: 100%;
  }
  nav .navdd {
    display: inline-block;
    position: relative;
    font-size: 3em;
    float: right;
    right: 0.5em;
    line-height: 70px;
    color: #232323;
  }
}
@keyframes slideFade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.slider {
  position: relative;
  height: 600px;
  background-color: black;
}
.slider .slide-images {
  height: 100%;
  width: 100%;
}
.slider .slide-images img {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  animation: slideFade 0.5s linear;
}
.slider .slide-images img.active {
  display: block;
}
.slider .dots {
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-content: stretch;
  bottom: 0px;
  width: 100%;
  text-align: center;
  height: 5px;
}
.slider .dots .dot {
  margin: 0 2px;
  width: 100%;
  height: 5px;
  background-color: white;
}
.slider .dots .dot:after {
  display: block;
  content: "";
  height: 100%;
  width: 0;
  background-color: #ffc212;
}
.slider .dots .dot.active:after {
  width: 100%;
  transition: width 5s linear;
}

.content {
  position: relative;
  height: fit-content;
  background-color: white;
  padding-top: 75px;
}
.content * {
  margin: 0;
  padding: 0;
}
.content .pads {
  margin-top: 75px;
  padding: 0 75px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
}
.content .pads .pad {
  min-height: 300px;
  padding: 1em;
}
.content .pads .pad .icon {
  text-align: center;
  font-size: 2.5em;
  color: #232323;
}
.content .pads .pad .title {
  font-size: 1.3em;
  text-align: center;
  font-weight: 500;
  margin: 0.5em 0;
  color: #232323;
  font-family: "Overpass", sans-serif;
}
.content .pads .pad .txt {
  text-align: center;
  font-size: 1em;
  font-weight: 300;
  color: #232323;
  font-family: "Overpass", sans-serif;
}
.content .partners .partnerlist {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  justify-content: space-around;
  margin: 3em;
  grid-gap: 3em;
}
.content .partners .partnerlist .partner {
  width: 100%;
}
.content .partners .partnerlist .partner img {
  width: 100%;
  filter: grayscale(100%);
}
.content .mapsector {
  position: relative;
  padding-top: 3em;
  height: fit-content;
  width: 100%;
}
.content .mapsector .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content .mapsector .grid .info {
  position: relative;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  margin-top: 0em;
  padding: 1em 3em;
}
.content .mapsector .grid .info .title {
  font-family: Roboto, sans-serif;
  font-size: 1.8em;
  font-weight: 400;
  line-height: 2em;
}
.content .mapsector .grid .info .projects {
  font-family: Roboto, sans-serif;
  width: fit-content;
  font-weight: 300;
  font-size: 1.5em;
  margin: 0 auto;
}
.content .mapsector .grid .info .projects ul {
  list-style-type: none;
}
.content .mapsector .grid .info .projects ul li a {
  text-decoration: none;
  color: black;
}
.content .mapsector .grid .info .stats {
  height: fit-content;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  color: #ffc212;
  text-align: center;
  line-height: 2em;
  vertical-align: middle;
  font-size: 1.8em;
  margin-top: 1em;
  border-top: 2px solid #ffc212;
}
.content .mapsector .grid .info .stats i {
  transform: translateY(20%);
  position: relative;
  font-size: 1.5em;
}
.content .mapsector .grid .map {
  display: inline-block;
  width: 100%;
}
.content .newspanel {
  margin: 0 2em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 3fr 4fr;
  grid-gap: 1em;
  overflow: hidden;
  padding-bottom: 4em;
  height: fit-content;
}
.content .newspanel .newsblock {
  border: 0.2em solid #ffc212;
}
.content .newspanel .newsblock .img {
  position: relative;
  min-height: 5em;
  max-height: 10em;
  width: 100%;
  overflow: hidden;
}
.content .newspanel .newsblock .img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  object-fit: cover;
}
.content .newspanel .newsblock .img .title {
  position: absolute;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0 0.2em;
  margin-top: 0.2em;
  padding: 5px;
  line-height: 0.8em;
  color: white;
  text-shadow: 0px 0px 1px #000000;
  background-color: rgba(0, 0, 0, 0.6);
}
.content .newspanel .newsblock p {
  padding: 0.2em 1em;
  font-weight: 300;
  font-size: 1em;
}
.content .newspanel .newsblock a {
  position: relative;
  top: 100%;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  background-color: #ffc212;
  padding: 0.2em 1em;
  color: #232323;
  font-size: 0.7em;
  font-weight: 500;
}
.content .newspanel .newsblock.main .img {
  height: 25em;
}
.content .newspanel .newsblock.main .title {
  position: absolute;
  font-weight: 400;
  font-size: 2em;
  margin: 0 0.2em;
  margin-top: 0.2em;
  padding: 5px;
  line-height: 0.8em;
  color: white;
  text-shadow: 0px 0px 1px #000000;
  background-color: rgba(0, 0, 0, 0.6);
}
.content .newspanel .newsblock.main p {
  font-size: 1.2em;
  padding-top: 0.5em;
}
.content .newspanel .sm {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
}
.content .contacts .contactbox {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.content .contacts .contactbox .form form {
  width: 75%;
  padding: 0 4em;
  margin: 3em auto;
}
.content .contacts .contactbox .form form input {
  width: 100%;
  height: 1.8em;
  border: 2px solid #ffc212;
  margin-top: 0.5em;
  padding-left: 0.2em;
  font-size: 1em;
  color: #232323;
  font-family: Roboto, sans-serif;
  font-weight: 300;
}
.content .contacts .contactbox .form form input.submit {
  background-color: #ffc212;
  color: white;
  font-weight: 700;
  height: 2.5em;
  width: 100%;
  border: 2px solid #ffc212;
  box-sizing: content-box;
  transition: color 0.3s, background-color 0.3s;
}
.content .contacts .contactbox .form form input.submit:hover {
  background-color: white;
  color: black;
}
.content .contacts .contactbox .form form textarea {
  width: 100%;
  height: 10em;
  border: 2px solid #ffc212;
  margin-top: 0.5em;
  padding-left: 0.2em;
  resize: none;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 300;
}
.content .contacts .contactbox .form form input:focus, .content .contacts .contactbox .form form textarea:focus {
  outline: none;
}
.content .contacts .contactbox .numbers {
  width: fit-content;
  height: fit-content;
  margin: 3em 0;
  padding-left: 3em;
}
.content .contacts .contactbox .numbers .number {
  font-size: 1.3em;
  line-height: 1.7em;
}
.content .contacts .contactbox .numbers .number .title {
  color: #ffc212;
  font-weight: 700;
}
.content .contacts .contactbox .numbers .number .num {
  display: inline-block;
  color: #232323;
  font-weight: 400;
  padding-left: 0.5em;
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  nav ul.menu li a {
    font-size: 0.8em;
  }

  .content .pads {
    font-size: 12px;
  }
  .content .mapsector .grid .info .title {
    font-size: 1.3em;
  }
  .content .mapsector .grid .info .projects {
    font-size: 1.1em;
  }
  .content .newspanel .newsblock .img .title {
    font-size: 1.1em;
  }
  .content .newspanel .newsblock.main .img .title {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 800px) {
  body {
    font-size: 12px;
  }

  .slider {
    height: 80vh;
    margin-top: 70px;
  }

  .content .header {
    margin: 0 auto;
  }
  .content .pads {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    padding: 0 1em;
  }
  .content .pads .pad {
    min-height: unset;
    height: fit-content;
  }
  .content .mapsector .grid {
    grid-template-columns: 1fr;
  }
  .content .mapsector .grid .info .title {
    font-size: 1.5em;
  }
  .content .mapsector .grid .info .projects {
    text-align: center;
  }
  .content .newspanel {
    grid-template-columns: 1fr;
  }
  .content .contacts .contactbox {
    grid-template-columns: 1fr;
  }
  .content .contacts .contactbox .form form {
    width: unset;
    -webkit-appearance: none;
  }
  .content .contacts .contactbox .numbers {
    margin: 0 auto;
    padding: 0 0 2em 0;
    -webkit-appearance: none;
  }
}
.footer {
  height: 10em;
  background-color: #232323;
  overflow: hidden;
}
.footer .links {
  height: 7em;
  line-height: 7em;
}
.footer .links img {
  position: relative;
  display: inline-block;
  width: 15%;
  padding: 0 5%;
  top: 50%;
  transform: translateY(-50%);
}
.footer .links div {
  text-align: center;
  float: right;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.footer .links div a {
  color: #e1e1e1;
  text-decoration: none;
  font-size: 1em;
}
.footer .credits {
  height: 3em;
  border-top: 1px solid #e1e1e1;
  color: #e1e1e1;
  text-align: center;
  font-weight: 500;
  line-height: 3em;
  vertical-align: center;
}
.footer .credits p {
  margin: 0;
}
.footer .credits a {
  text-decoration: none;
  color: #e1e1e1;
}
.footer .credits a:hover {
  color: #ffc212;
}

@media only screen and (max-width: 800px) {
  .footer {
    height: 5em;
  }
  .footer .links {
    display: none;
  }
  .footer .credits {
    position: relative;
    height: 5em;
  }
  .footer .credits p {
    height: 5em;
    line-height: 5em;
    width: 100%;
    text-align: center;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}
.blog {
  margin: 0 5em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  overflow: hidden;
  padding-bottom: 4em;
}
.blog .blogpost {
  border: 0.23em solid #ffc212;
  position: relative;
}
.blog .blogpost .img {
  position: relative;
  height: 14em;
  width: 100%;
  overflow: hidden;
}
.blog .blogpost .img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  object-fit: cover;
  z-index: 0;
}
.blog .blogpost .img .title {
  position: absolute;
  font-weight: 400;
  font-size: 1.5em;
  margin: 0 0.2em;
  margin-top: 0.2em;
  padding: 5px;
  line-height: 0.8em;
  color: white;
  text-shadow: 0px 0px 1px #000000;
  background-color: rgba(0, 0, 0, 0.6);
}
.blog .blogpost p {
  padding: 0.2em 1em;
  font-weight: 300;
  font-size: 1em;
}
.blog .blogpost a {
  text-decoration: none;
  border: 0;
  border-radius: 0;
  background-color: #ffc212;
  padding: 0.2em 1em;
  color: #232323;
  margin-bottom: 0.5em;
  font-size: 0.7em;
  font-weight: 500;
}
.blog .blogpost a.date {
  display: block;
  position: relative;
  bottom: -1px;
  right: -1px;
  float: right;
  font-weight: 400;
  color: #232323;
  background-color: #ffc212;
  padding: 0.2em 1em;
  font-size: 0.7em;
  margin: 0;
  cursor: default;
}

@media only screen and (max-width: 800px) {
  .blog {
    grid-template-columns: 1fr;
  }
}
.bpost {
  position: relative;
  width: 100%;
  margin: 0 auto 0 auto;
  min-height: 1000px;
}
.bpost .bpost-image {
  position: relative;
  width: 100%;
  height: 75vh;
  z-index: 2;
}
.bpost .bpost-image .bpost-title {
  position: relative;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 3em;
  text-align: center;
  line-height: 2em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}
.bpost .bpost-image .bpost-title p {
  margin: 0;
}
.bpost .bpost-text {
  position: relative;
  padding: 0.5em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  width: 80%;
  margin: 0 auto 0 auto;
}
.bpost .bpost-date {
  padding-right: 0.5em;
  width: 80%;
  margin: 0 auto 0 auto;
  border-top: 3px solid #ffc212;
}
.bpost .bpost-date p {
  text-align: right;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  font-size: 1em;
}

@media only screen and (max-width: 800px) {
  .bpost .bpost-title {
    font-size: 3em;
  }
  .bpost .bpost-text {
    font-size: 1.4em;
    width: 90%;
  }
  .bpost .bpost-date {
    width: 90%;
  }
}
.events {
  margin: 0 5em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  overflow: hidden;
  padding-bottom: 4em;
}
.events .event {
  border: 0.23em solid #ffc212;
  position: relative;
  height: 20em;
}
.events .event .event-img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.events .event .event-img img, .events .event .event-img video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}
.events .event .event-img .event-title {
  position: absolute;
  font-weight: 500;
  font-size: 2em;
  padding: 4em 0;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 0.8em;
  color: white;
  text-shadow: 0px 0px 1px #000000;
  background-color: rgba(0, 0, 0, 0.4);
  transition: opacity 0.5s ease;
  animation-fill-mode: both;
}
.events .event .event-img .info {
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
  animation-fill-mode: both;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
}
.events .event .event-img .info p {
  color: white;
  font-weight: 300;
  font-size: 1.5em;
  padding: 5px;
  line-height: 0.8em;
  text-shadow: 0px 0px 1px #000000;
  margin: 0;
  transform: translateY(50%);
  transition: transform 0.5s ease;
  animation-fill-mode: both;
}
.events .event .event-img .info .link {
  position: absolute;
  background-color: #ffc212;
  bottom: 0;
  left: 0;
  padding: 5px 20px 3px 20px;
  border-top-right-radius: 10em;
  font-size: 0.8em;
  text-decoration: none;
  color: black;
  font-weight: 500;
  vertical-align: bottom;
}
.events .event .event-img .info .date {
  position: absolute;
  background-color: #ffc212;
  bottom: 0;
  right: 0;
  font-size: 0.8em;
  padding: 5px 20px 3px 20px;
  border-top-left-radius: 10em;
  color: black;
  font-weight: 500;
  vertical-align: bottom;
  cursor: default;
}
.events .event:hover .event-title {
  opacity: 0;
}
.events .event:hover .info {
  opacity: 1;
}
.events .event:hover .info p {
  transform: translateY(0);
}

@media only screen and (max-width: 800px) {
  .events {
    grid-template-columns: 1fr;
    margin: 0 2em;
  }
  .events .event {
    font-size: 10px;
  }
}
@keyframes fadin {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.event-title {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin-top: 10em !important;
  border: 6px solid rgba(0, 0, 0, 0);
  -webkit-animation: fadin 1s ease-in-out;
  -o-animation: fadin 1s ease-in-out;
  animation: fadin 1s ease-in-out;
}
.event-post {
  position: relative;
  display: block;
  width: 60%;
  height: 10em;
  margin: 10em auto 0 auto;
  background-color: white;
  border: 0.23em solid #232323;
}

.project-page {
  margin: 0 5em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  overflow: hidden;
  padding-bottom: 4em;
}
.project-page .project-tile {
  position: relative;
  width: 100%;
  height: 20em;
}
.project-page .project-tile .img {
  border-radius: 0.3em;
  overflow: hidden;
  width: 100%;
}
.project-page .project-tile .img img, .project-page .project-tile .img video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 0;
  border-radius: 0.3em;
  overflow: hidden;
  transition: filter 0.3s ease-in-out;
}
.project-page .project-tile .img .text {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  width: 100%;
  opacity: 0;
  background-color: rgba(35, 35, 35, 0.9);
  transition: opacity 0.5s ease-in-out;
}
.project-page .project-tile .img .text p {
  width: 100%;
  margin: 0 auto 0 0;
  text-align: left;
  color: #e1e1e1;
  font-size: 2.3em;
  font-weight: 300;
}
.project-page .project-tile .img .text p.title {
  margin-left: 5%;
  font-weight: 300;
}
.project-page .project-tile .img .text p.power {
  color: #ffc212;
  width: 90%;
  margin: 0 5%;
  text-align: center;
  border-top: 0.05em solid #ffc212;
}
.project-page .project-tile .img .text p.power i {
  font-size: 0.8em;
}
.project-page .project-tile .img:hover .text {
  opacity: 1;
}

@media only screen and (max-width: 800px) {
  .project-page {
    grid-template-columns: 1fr;
  }
  .project-page .project-tile .img .text {
    opacity: 1;
  }
}
.project-post .gallery {
  width: 80%;
  height: fit-content;
  margin: 0 auto;
  padding-bottom: 4px;
  background-color: #232323;
  padding: 3px;
}
.project-post .gallery .mainphoto {
  max-width: 100%;
  overflow: hidden;
  margin: 3px;
}
.project-post .gallery .mainphoto img {
  width: 100%;
  object-fit: contain;
}
.project-post .gallery .previews {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: center;
}
.project-post .gallery .previews img {
  height: 3em;
  object-fit: cover;
  margin: 3px;
  border: 1px solid white;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 5s linear;
}
.overlay img {
  position: relative;
  z-index: 17;
  display: block;
  max-height: 85%;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em;
}
.overlay .controls {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  height: fit-content;
  z-index: 16;
  color: #e1e1e1;
  margin: 0 auto;
  vertical-align: middle;
}
.overlay .controls i {
  font-size: 4vw;
  width: fit-content;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
  animation-fill-mode: both;
}
.overlay .controls i.fa-arrow-left {
  padding-right: 3em;
}
.overlay .controls i.fa-arrow-right {
  padding-left: 3em;
}
.overlay .controls i:hover {
  color: #ffc212;
}

@media only screen and (max-width: 800px) {
  .overlay .controls {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin: 1% 5%;
  }
  .overlay .controls i {
    font-size: 5em;
  }
}
.docs-page {
  margin: 0 5em;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  overflow: hidden;
  padding-bottom: 4em;
}
.docs-page .doc {
  width: 100%;
  color: #232323;
  text-decoration: none;
  text-align: center;
  padding: 3em 0;
  border: 0.23em solid transparent;
  box-sizing: border-box;
}
.docs-page .doc i {
  display: block;
  width: 100%;
}
.docs-page .doc .title {
  display: block;
  width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.5em 0;
}
.docs-page .doc:hover {
  color: #ffc212;
  background-color: #232323;
  border: 0.23em solid #ffc212;
  border-radius: 1em;
}

@media only screen and (max-width: 800px) {
  .docs-page {
    grid-template-columns: 1fr 1fr;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2em;
  margin: 2em;
}
.grid .card {
  border: 0.2em solid #ffc212;
  width: 100%;
}
.grid .card .img {
  position: relative;
  min-height: 5em;
  max-height: 10em;
  width: 100%;
  overflow: hidden;
  height: 25em;
}
.grid .card .img img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  object-fit: cover;
}
.grid .card .img .title {
  position: absolute;
  font-weight: 400;
  font-size: 2em;
  margin: 0 0.2em;
  margin-top: 0.2em;
  padding: 5px;
  line-height: 0.8em;
  color: white;
  text-shadow: 0px 0px 1px #000000;
  background-color: rgba(0, 0, 0, 0.6);
}
.grid .card p {
  font-size: 1.2em;
  padding-top: 0.5em;
  font-weight: 300;
}
.grid .card a {
  position: relative;
  top: 100%;
  text-decoration: none;
  border: 0;
  border-radius: 0;
  background-color: #ffc212;
  padding: 0.2em 1em;
  color: #232323;
  font-size: 0.7em;
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
