{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Сюда вставити назву поста</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=""
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


{% include 'nav.html' %}


<div class="page">
    <div class="post">
        <div class="post-title"><p>Felicity Huffman: Desperate Housewife, Devoted Parent and Now a Defendant</p></div>
        <div class="post-img-box">
            <img class="post-image" src="https://static01.nyt.com/images/2019/03/23/arts/23huffman3/merlin_148837731_bd91c10b-5f07-469b-8322-e5f2b7118d3d-jumbo.jpg?quality=90&auto=webp" alt="">
        </div>
        <div class="post-text"><p>Felicity Huffman hated the myth of the perfect mother.

“She should go the way of the dinosaur, extinct,” Huffman wrote in exasperation a few years ago on her blog, where she agonized about losing her cool with her children and not being an easygoing mother — and where she also sold mugs bearing cutesy quotes like “I Can’t Adult Today” and “Good Enough Mom.”

Yet Huffman, who is 56, was competitive and driven. Maybe no one could be a perfect mother, but she could still try to be a great one. She joined parents’ committees, threw elaborate Halloween parties using top of the line studio props and, with her husband, William H. Macy, leveraged her celebrity to support the prestigious Los Angeles County High School for the Arts, where Sophia, the elder of their two daughters, studied theater and thrived.

Huffman, an Emmy winner for “Desperate Housewives,” and Macy, an Oscar nominee for “Fargo,” taught acting workshops at the school, hosted fund-raising galas, and donated at least $20,000 to its foundation, while fellow parents basked in their proximity to such a beloved Hollywood pair.

They are not quite as beloved anymore. Huffman was led out of her Hollywood Hills home by F.B.I. agents on March 12, accused of making a $15,000 payoff so a crooked test proctor could tinker with Sophia’s SAT answers. Her arrest came as part of a broad investigation of a cheating and bribery scheme that involved 50 people and has fueled a national debate about fairness in college admissions.

[Here’s what you need to know about the college cheating scandal.]

The scandal left some administrators at the high school in damage-control mode, and people close to Flicka and Billy, as the couple are still known in their old theater circle, reeling and conflicted: What on Earth had Huffman and Macy been thinking?

In the criminal complaint outlining the case, investigators said multiple emails and recorded telephone conversations showed that Huffman’s involvement in the cheating conspiracy began in summer 2017 and continued into February of this year. Macy has not been charged, but the complaint said that he had agreed to the cheating plan for Sophia, and accused him of plotting the same cheating arrangement for their younger daughter before the couple abandoned the idea.</p></div>
    </div>
</div>

{% include "footer.html" %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script
        src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        startEvent: 'DOMContentLoaded',
        once: true,
        ease: 'ease-out',
        anchorPlacement: 'top-bottom'
    });
</script>
</body>
</html>