{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=""
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% include 'nav.html' %}
<div class="header center"><p>Наш блог</p></div>
<div class="blog">

    {% for post in posts %}
    {% if post.isHidden == False %}
  <div class="blog-card">
    <div class="meta">
      <div class="photo" style="background-image: url({{ post.image.url }})"></div>
      <ul class="details">
        <li class="author">Lorem ipsum</li>
        <li class="date">{{ post.date }}</li>
        <li class="tags">
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>{{ post.title }}</h1>
      <h2>{{ post.date }}</h2>
        <p>{{ post.text }}</p>
      <p class="read-more">
        <a href="#">Read More</a>
      </p>
    </div>
  </div>
    {% endif %}
{% endfor %}
</div>
</body>
</html>