{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=""
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


{% include 'nav.html' %}


<div class="page">
    <div class="header center"><p>Наш блог</p></div>

    <div class="blog">
        {% for post in posts %}
            {% if post.isHidden == False %}
                <div class="blogpost" data-aos="flip-up" data-aos-duration="1000">
                    <div class="img"><img src="{{ post.image.url }}" alt="">
                        <div class="title">{{ post.title }}</div>
                    </div>
                    <p>{{ post.text|truncatewords:50 }}</p>
                    <!-- -->
                    <a href="{% url 'blogpost' post.id %}">Детальніше <i class="fas fa-arrow-right"></i></a>
                    <!-- -->
                    <a class="date">{{ post.date }}</a>
                    <!-- -->
                </div>
            {% endif %}
        {% endfor %}
    </div>

</div>

{% include "footer.html" %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script
        src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        startEvent: 'DOMContentLoaded',
        once: true,
        ease: 'ease-out',
        anchorPlacement: 'top-bottom'
    });
</script>
</body>
</html>