{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Назва обладнання</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=""
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
{% include 'nav.html' %}

<div class="page" style="min-height: unset;"><div class="header center"><p>Назва обладнання</p></div>
   <div class="eqpost">
        <div class="image"><img src="{% static 'images/obl.png' %}" alt=""></div>
        <div class="descript">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, blanditiis ex nihil quas suscipit tempore tenetur voluptates. Accusantium consequatur cupiditate, debitis esse expedita illum inventore ipsum, laborum quaerat quisquam reprehenderit soluta totam ut veniam voluptas! Atque aut eaque et, ex facere impedit ipsam itaque maiores nostrum optio quidem repellat reprehenderit vel, vitae voluptas. Doloribus explicabo nihil qui quo reprehenderit. Aut autem consequatur cum eos esse magni modi mollitia, non, nostrum officiis optio placeat quasi veniam. Accusantium amet, atque beatae consectetur doloremque fuga fugiat hic laboriosam molestiae, non quis, ullam. Accusamus aliquid cupiditate eos necessitatibus placeat, quas quasi quis repudiandae? Nihil!
        </div>
   </div>
</div>


{% include 'footer.html' %}
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        startEvent: 'DOMContentLoaded',
        once: true,
        ease: 'ease-out',
        anchorPlacement: 'top-bottom'
    });
</script>
</body>
</html>