{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Події</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=""
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
{% include 'nav.html' %}

<div class="page">
    <div class="header center"><p>Наші події</p></div>

    <div class="events">
        {% for event in events %}
            {% if event.isHidden == False %}
                <div class="pad" data-aos="flip-left" data-aos-duration="1000">
                    <div class="pimg">
                        {% if event.video %}
                            <video width="530" height="440" controls playsinline>
                                <source src="{{ event.video.url }}" type="video/mp4">
                            </video>
                        {% else %}
                            <img src="{{ event.image.url }}" alt="">
                        {% endif %}
                        <div class="ptitle">{{ event.title }}</div>
                        <div class="pinfo">
                            <p>{{ event.preview_text }}</p>
                            <a class="plink" href="{% url 'event' event.id %}">Детальніше <i
                                    class="fas fa-arrow-right"></i></a>
                            <!-- -->
                            <a class="pdate"> {% if event.is_past %} Відбулося: {% else %}
                                Відбудеться: {% endif %}{{ event.event_date|date:"d M Y" }}</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>


{% include 'footer.html' %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        startEvent: 'DOMContentLoaded',
        once: true,
        ease: 'ease-out',
        anchorPlacement: 'top-bottom'
    });
</script>
</body>
</html>