{% load static %}
<div class="footer">
    <div class="links">
        <img src="{% static "/images/Logo2.svg" %}" alt="">
        <div>
            <a href="">Про нас</a>
            <a href="">Проекти</a>
            <a href="">Обладнання</a>
            <a href="">Події</a>
            <a href="">Матеріали</a>
            <a href="">Нормативна база</a>
            <a href="">Блог</a>
        </div>
    </div>
    <div class="credits"><p>2019 Developed by <a href="http://www.night-sky-studios.com" target="_blank">Night
        Sky Studios</a></p></div>
</div>