{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=""
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css"/>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="{% static "js/tiny_mce/tiny_mce.js" %}"></script>
    {#    <script type="text/javascript" src="{% url "tinymce-js" "NAME" %}"></script>#}
</head>
<body>


{% include 'nav.html' %}


<div class="page">
    <div class="header center"><p>{{ project.title }}</p></div>

    <div class="project-post">
        <div class="gallery">
            <div class="mainphoto">
                <img src="{{ project.image.url }}" number="0" alt="">
            </div>
            <div class="previews">
                <img src="{% static "images/slide2.jpg" %}" number="1" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="2" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="3" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="4" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="5" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="6" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="7" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="8" alt="">
                <img src="{{ project.image.url }}" number="9" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="10" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="11" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="12" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="13" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="14" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="15" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="16" alt="">
                <img src="{% static "images/slide2.jpg" %}" number="17" alt="">
            </div>
        </div>

    </div>
</div>

{% include "footer.html" %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script
        src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        startEvent: 'DOMContentLoaded',
        once: true,
        ease: 'ease-out',
        anchorPlacement: 'top-bottom'
    });
</script>
</body>
</html>