{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Проекти</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity=""
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
{% include 'nav.html' %}

<div class="project-page">
    <div class="header center"><p>Наші проекти</p></div>
    <div class="list">
        <div class="project" data-aos="flip-left" data-aos-duration="1000">
            <div class="img">
                <img src="{% static "/images/slide1.jpg" %}" alt="">
                <div class="title">Назва проекту</div>
            </div>
        </div>
        <div class="project" data-aos="flip-left" data-aos-duration="1000">
            <div class="img">
                <img src="{% static "/images/slide1.jpg" %}" alt="">
                <div class="title">Назва проекту</div>
            </div>
        </div>
    </div>
</div>
{% include 'footer.html' %}

<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init({
        startEvent: 'DOMContentLoaded',
        once: true,
        ease: 'ease-out',
        anchorPlacement: 'top-bottom'
    });
</script>
</body>
</html>